<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @writing.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @writing.content %>
</p>

<%= link_to 'Edit', edit_writing_path(@writing) %> |
<%= link_to 'Back', writings_path %>
